MONGOURL="mongodb://admin:adminpass@mongodb:27017"
POSTGRES_URL="postgres://admin:adminpass@postgresdb:5432/gs_db?sslmode=disable"
MQ_URL="amqp://guest:guest@rabbitmq:5672/"

MODE="docker"
CONCURRENCY="1"
TIMEINTERVAL="2"
LOCATION="USA"
DOCKER_HOST="unix:///var/run/docker.sock"
WORKER_LOG_STORAGE_PATH="/app/worker_error_logs"
SENDER_MAIL=
SENDER_PASS=

# worker
GS_URL="http://goweb:8080"
WEB_DRIVER_PATH="/root/.wdm/drivers/chromedriver/linux64/134.0.6998.35/chromedriver-linux64/chromedriver"